HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

/authservice/.gradle
/authservice/gradle
/authservice/.gitattributes
/authservice/.gitattriutes/
/authservice/.HELP.md
/authservice/gradlew
/authservice/settings.gradle
/authservice/src/main/resources/application.properties


/userservice/.gradle
/userservice/gradle
/userservice/.gitattributes
/userservice/.gitattriutes/
/userservice/.HELP.md
/userservice/gradlew
/userservice/settings.gradle
/userservice/src/main/resources/application.properties


/dsservice/.gradle
/dsservice/gradle
/dsservice/.gitattributes
/dsservice/.gitattriutes/
/dsservice/.HELP.md
/dsservice/gradlew
/dsservice/settings.gradle
/dsservice/src/main/resources/application.properties

/expenseservice/.gradle
/expenseservice/gradle
/expenseservice/.gitattributes
/expenseservice/.gitattriutes/
/expenseservice/.HELP.md
/expenseservice/gradlew
/expenseservice/settings.gradle
/expenseservice/src/main/resources/application.properties
